<!DOCTYPE html>
<html lang="en">
<head>
	<title>Samuel Damilare|Projects</title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta author = "Samuel Damilare">


	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="icon" type="text/css" href="images/sd2.jpeg">
</head>
<body class="bg-light">

<!-- The Nav Bar -->
<header>
	<ul class="nav nav-tabs navbar-light bg-light fixed-top">
	  <li class="nav-item">
		 <a class="nav-link " href="../index.html">SODSTAR</a>
	</li> 
	  <li class="nav-item">
	    <a class="nav-link " href="../index.html#about">About Me</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Projects</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="experience.html">Experience</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="../index.html#contact">Contact</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="https://medium.com/dpsalmist26">Blog</a>
	  </li>
	</ul>
</header>	

<!-- The container -->

<div class="container">

	<section class="section">
		<div>
			<img src="../images/project.jpeg" class="img">
				<h2>My Projects</h2>
				<br>
				<p>I am basically a software developer who builds software primarily with the python programming language. An aspiring data scientist/machine learning engineer.</p>
				<br>
				<p>Given below are some of the projects and works I have done and intend to do. The source code can be gotten from the popular online repository GitHub. You can click on the <em>View Repo</em> to see the codes. You can also download them for personal usage while making improvement you deem fit.</p>
		</div>
	</section>
<div class="accordion" id="accordionExample">
	<!-- WEB PROJECTS -->
	<section class="single-sections">
		<div class="card">
		    <div class="card-header" id="headingOne">
		      <h2 class="mb-0">
		        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          Web Projects
		        </button>
		      </h2>
		    </div>

		    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
		      <div class="row">

					<div class="col-md-4 cards">
						<div class="card" style="width: 15rem;" >
					  		<img src="../images/todoapp.png" class="card-img-top cardpic" alt="projects picture">
					 		<div class="card-body">
					   		<h5 class="card-title"><b>TODO APP</b></h5>
					   		<p class="card-text">A simple web app that allows one to create a list of tasks he/she intends to achieve and give them the platform to organize and structure their schedule.</p>
					   		<b>Technology Used:</b><p>DjangoREST, React.js, SQlite db and React Bootstrap</p>
					    	<a href="https://github.com/DPsalmist/reactdjangotodoapp" class="btn btn-outline buttons">View Repo</a>
				 			</div>
						</div>
					</div>
							
					<div class="col-md-4 cards">
						<div class="card" style="width: 15rem;">
					  		<img src="../images/blogapp_pic.png" class="card-img-top cardpic" alt="work experience picture">
					 		<div class="card-body">
					   		<h5 class="card-title"><b>Blog Application</b></h5>
					   		<p class="card-text">A blog application that allows its users to create post content and post them for other bloggers. CRUD operations can be performed on the site such as creating a blog post, reading post content, updating a particular post and profile as well as deleting post contents.</p>
					   		<b>Technology Used:</b><p>Django3, SQlite, HTML5, CSS3 and Bootsrap4</p>
					    	<a href="https://github.com/DPsalmist/myblogapp" class="btn btn-outline buttons">View Repo</a>
					 		</div>
						</div>
					</div>
							
					<div class="col-md-4 cards">
						<div class="card" style="width: 15rem;">
					  		<img src="../images/leadcreate_pic.png" class="card-img-top cardpic" alt="resume picture">
					 			<div class="card-body">
					   			<h5 class="card-title"><b>Django REST API</b></h5>
					   			<p class="card-text">A simple REST API that allows post and get operations. The REST API provides a JSON document that serves as a database and can be consumed by third party technolgies such as React.js, Angular js, etc. </p>
					   			<b>Technology Used:</b><p>Django, Django REST and Django Serializer</p>
					    		<a href="https://github.com/DPsalmist/leadcreateapi" class="btn btn-outline buttons">View Repo</a>
					 			</div>
							</div>
						</div>
					</div>
		    </div>
		  </div>
	</section>


	<!-- CLI PROJECTS -->
	<section class="single-sections">
		<div class="accordion" id="accordionExample">
		  <div class="card">
		    <div class="card-header" id="headingTwo">
		      <h2 class="mb-0">
		        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          CLI Projects
		        </button>
		      </h2>
		    </div>
		    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
		      <div class="row">

					<div class="col-md-4 cards">
						<div class="card" style="width: 15rem;" >
					  		<img src="../images/project.jpeg" class="card-img-top cardpic" alt="projects picture">
					 		<div class="card-body">
					   		<h5 class="card-title"><b>Hotel Management System</b></h5>
					   		<p class="card-text">A hotel management system that manages regular hotel operations such as bookings/reservations, payment, etc.</p>
					   		<b>Technology Used:</b><p>Python and SQlite db.</p>
					    	<a href="https://github.com/DPsalmist/hotelmanagementsystem" class="btn btn-outline buttons">View Repo</a>
				 			</div>
						</div>
					</div>
							
					<div class="col-md-4 cards">
						<div class="card" style="width: 15rem;">
					  		<img src="../images/phonebook.png" class="card-img-top cardpic" alt="work experience picture">
					 		<div class="card-body">
					   		<h5 class="card-title"><b>A Phonebook App</b></h5>
					   		<p class="card-text">A user-friendly phonebook that allows its users to store their contacts and some information right on their system, hence saving some memory on their mobile phones. The users just need to have the requirement </p>
					   		<p><b>Technology:</b>Python, Tkinter and SQlite db.</p>
					    	<a href="https://github.com/DPsalmist/phonebook" class="btn btn-outline buttons">View Repo</a>
					 		</div>
						</div>
					</div>
							
					<div class="col-md-4 cards">
						<div class="card" style="width: 15rem;">
					  		<img src="../images/banksimulator.png" class="card-img-top cardpic" alt="resume picture">
					 			<div class="card-body">
					   			<h5 class="card-title"><b>Bank Simulator</b></h5>
					   			<p class="card-text">A bank management simulator. It performs basic bank operations such as opening of an account, withdrawal, deposit, and transfer oprarations on the comman line interface (CLI).</p>
					   			<p><b>Technology:</b> Python and SQlite3 db.</p>
					    		<a href="https://github.com/DPsalmist/banksimulator" class="btn btn-outline buttons">View Repo</a>
					 			</div>
							</div>
						</div>
					</div>
		    </div>
		  </div>
		</div>
	</section>

	<!-- UPCOMING PROJECTS -->
	<section class="single-sections">
		  <div class="card">
		    <div class="card-header" id="headingThree">
		      <h2 class="mb-0">
		        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		          Upcoming Projects
		        </button>
		      </h2>
		    </div>
		    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
		      <div class="card-body">
		        Given below are some projects and tasks I am currently working on.
		        <ol>
		        	<li><b>Reactjs and Django</b> - Creating an ecommerce site</li>
		        	<li><b>Reactjs and Nodejs</b> - Any simple project to start with. </li>
		        	<li><b>Tensorflow</b> - Classification problems </li>
		        	<li><b>Machine Learning</b> - Study and practice models such as Scikit, Keras,etc.</li>
		        	<li><b>Neural Nets</b> - Work and build convolutional neural networks</li>
		        </ol>
		      </div>
		    </div>
		  </div>
		</section>
</div>
	<!-- container end -->
</div>

<!-- Footer -->
<nav id="footer" class="navbar fixed-bottom navbar-dark bg-light">
	<span>Made with <img src="../images/favicon.ico"> by <b>Samuel O. Damilare</b></span>
  <a class="navbar-brand" href="https:www.github.com/Dpsalmist"><img src="../images/github2.jpeg" class="icons">GitHub</a> 
  <a class="navbar-brand" href="https://www.linkedin.com/in/damilare-samuel-55561a127/"><img src="../images/linkedin.jpeg" class="icons">LinkedIn</a> 
  <a class="navbar-brand" href="https://medium.com/@sdamilare420"> <img src="../images/medium1.png" class="icons">Medium</a>
 <a class="navbar-brand" href="https://twitter.com/@dpsalmist26"> <img src="../images/twitter1.png" class="icons">Twitter</a>
</nav>
		 
</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>